.button {
    border: none;
    border-radius: 3px;
    width: 132px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 5px 24px;
}

.disabled {
    background: #004D99;
    opacity: 50%;
}

.default {
    background: #0066CC;
    color: #FFFFFF;
}

.red {
    background: red;
    color: #FFFFFF;
}

.secondary {
    background-color: transparent;
    border: 3px solid #0066CC;
    color: #0066CC;
    width: 176px;
}

.default:hover {
    background: #0080FF;
    /*width: 176px;*/
}

.red:hover {
    background: #FF1A47;;
    /*width: 176px;*/
}

.secondary:hover {
    background: #E5F0FA;
    /*width: 176px;*/
}

.default:active {
    background: #0059B2;
    /*width: 149px;*/
}

.red:active {
    background: #B21232;
    /*width: 149px;*/
}

.secondary:active {
    background: #C9E5FF;
    /*width: 149px;*/
}

.button:disabled {
}
